registry=https://registry.npmjs.org/
@rms-apps:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken={GITHUB_TOKEN}

# pnpm
strict-peer-dependencies=false
save-workspace-protocol=rolling
save-prefix=''