registry=https://registry.npmjs.org/
@rms-apps:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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

# pnpm
strict-peer-dependencies=false
save-workspace-protocol=rolling
save-prefix=''